# Local .terraform directories
**/.terraform/*

# Ignore variables files
*.auto.tfvars

# Ignore override files
*.tfoverride

# Ignore environment-specific files
.envrc

# Ignore CLI configuration files
.terraformrc
terraform.rc

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Ignore sensitive files
*.pem
*.key
*.pub

# Local development
.vscode/
__pycache__
.pytest_cache

# Ignore .lock files
*.lock.*

# Credentials Storage
*.vault
